*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:focus {
    outline: 0px;
}
p:last-child{margin-bottom: 0px;}
.quiz_title{
    font-size: 30px;
    font-weight: 700;
    color: #292d3f;
    text-align: center;
    margin-bottom: 50px;
}

.quiz_card_area{position: relative;}
.single_quiz_card{
    border:1px solid #d6d6d6;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-radius: 5px;
}
.quiz_card_title{
    padding: 10px;
    text-align: center;
    background-color: #d6d6d6;
}
.quiz_card_title h3{
    font-size: 16px;
    font-weight: 400;
    color: #292d3f;
    margin-bottom: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.quiz_card_title h3 i{opacity: 0;}
.quiz_card_icon{
    max-width: 100%;
    min-height: 135px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz_icon {
    width: 70px;
    height: 75px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.quiz_icon1{
    background-image: url('../images/icons/engagement-ring-icon.png');
}

.quiz_icon2{
    background-image: url('../images/icons/honeymoon-icon.png');
}

.quiz_icon3{
    background-image: url('../images/icons/venue-icon.png');
}

.quiz_icon4{
    background-image: url('../images/icons/other-icon.png');
}

.quiz_checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
}  
.quiz_checkbox:checked ~ .single_quiz_card{border: 1px solid #a9559b;background-color: rgba(169, 85, 155, 0.1);}
.quiz_checkbox:checked:hover ~ .single_quiz_card{border: 1px solid #a9559b;background-color: rgba(169, 85, 155, 0.1);}

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title{background-color:#a9559b; color: #ffffff;}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title h3{color: #ffffff;}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_title h3 i{opacity: 1;}
.quiz_checkbox:checked:hover ~ .quiz_card_title{border: 1px solid #a9559b;}

/*Icon Selector*/

.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon {color: #a9559b;}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon .quiz_icon1{
    background-image: url('../images/icons/engagement-ring-icon_checked.png');
}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon .quiz_icon2{
    background-image: url('../images/icons/honeymoon-icon-checked.png');
}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon .quiz_icon3{
    background-image: url('../images/icons/venue-icon-checked.png');
}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_content .quiz_card_icon .quiz_icon4{
    background-image: url('../images/icons/other-icon-checked.png');
}

.quiz_backBtn_progressBar{
    position: relative;
    margin-bottom: 60px;
}
.quiz_backBtn{
    background-color: transparent;
    border: 1px solid #d2d2d3;
    color: #8e8e8e;
    border-radius: 50%;
    position: absolute;
    top: -17px;
    left: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none!important;
}
.quiz_backBtn:hover{color: #a9559b;border: 1px solid #a9559b;}
.quiz_backBtn_progressBar .progress{margin-left: 50px;margin-top: 50px;height: 6px;}
.quiz_backBtn_progressBar .progress-bar{
    background-color: #a9559b;
}
.quiz_next{
    text-align: center;
    margin-top: 50px;
}
.quiz_continueBtn{
    max-width: 315px;
    background-color: #a9559b;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 125px;
    border: 0;
}

/*Quiz 1st Style End*/

.quiz_content_area{margin-bottom: 50px;}
.quiz_card_style2{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 30px;
}
.quiz_card_style2 .quiz_card_icon{
    max-width: 60px;
    min-height: 60px;
    background-color: #f9f9fa;
    border-right: 1px solid #d6d6d6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.quiz_card_style2 .quiz_icon {
    width: 60px;
    height: 60px;
}
.quiz_icon5{background-image: url('../images/icons/doller_icon_01.png')}
.quiz_icon6{background-image: url('../images/icons/doller_icon_02.png')}
.quiz_user_icon{background-image: url('../images/icons/user-avater-icon.png')}
.quiz_card_content p{
    font-size: 16px;
    color:#808080;
    font-weight: 400;
    padding-left: 10px;
}
.quiz_input{
    background-color: transparent;
    min-height: 60px;
    border: 0px;
    font-size: 16px;
    color: #808080;
    font-weight: 400;
    padding: 10px 8px;    
}
.noMarginBtm{margin-bottom: 0px!important;}
.quiz_font_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz_icon i{
    font-size:17px;
    color:#808080;
}
.quiz_location p{
    font-size: 16px;
    color: #808080;
    text-align: center;
}
.quiz_sm_txt p{
    font-size: 14px;
    color: #808080;
    line-height: 20px;
}
.quiz_card_style3{
    padding: 16px 10px;
}
.quiz_card_style4{
    text-align: center;
    padding: 30px;
}
.quiz_card_style4 .quiz_card_content h3{
    color: rgba(41, 45, 63, 0.5);
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0px;
}
.quiz_card_style4 .quiz_card_content p{
    font-size: 18px;
    font-weight: 600;
    color: rgba(41, 45, 63, 0.5);
}
.quiz_checkbox:checked ~ .quiz_card_style4 .quiz_card_content h3{color: #292d3f;}
.quiz_checkbox:checked ~ .quiz_card_style4 .quiz_card_content p{color: #292d3f;}
.employment_quiz_content .quiz_card_style2{
    justify-content: space-between;
}
.employment_quiz_content .quiz_card_style2 .quiz_card_icon{
    border-left: 1px solid #d6d6d6;
    border-right: 0px;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #a9559b;
    opacity: 0;
}
.employment_quiz_content .quiz_card_style2 .quiz_card_icon i{color: #ffffff;}
.quiz_checkbox:checked ~ .single_quiz_card .quiz_card_icon{opacity: 1;}
.quiz_datepicker_content .quiz_sm_txt{
    text-align: center;
}
.quiz_notice_area{
    background-color: rgba(0, 222, 73, 0.2);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.quiz_notice_area h3{
    font-size: 16px;
    font-weight: 600;
    color: #292d3f;
}
.quiz_notice_area p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #292d3f;
}
.quiz_notice_area p strong{font-weight: 700;}
.quiz_para_txt{
    color:#808080;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}
.table thead th, .table td, .table th{border:0px;}
.quiz_title_txt{
    font-size: 18px;
    color: #a9559b;
    font-weight: 600;
    text-align: right;
}
.quiz_info_txt{
    font-size: 18px;
    color:#292d3f;
    font-weight: 600;
}
.quiz_result_txt_area h3{
    color: #292d3f;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    margin-bottom: 50px;
}


/* step sesction css */

.step-1{
    display: block;
}
.step-2{
    display: none;
}
.step-3{
    display: none;
}
.step-4{
    display: none;
}
.step-5{
    display: none;
}
.step-6{
    display: none;
}
.step-7{
    display: none;
}
.step-8{
    display: none;
}
.step-9{
    display: none;
}
.step-10{
    display: none;
}
.step-11{
    display: none;
}
.step-12{
    display: none;
}
.step-13{
    display: none;
}
.step-14{
    display: none;
}
.step-15{
    display: none;
}
.step-16{
    display: none;
}